name: ci-gradle

on:
  push:
    branches: [ master ]
    paths:
      - "src/**"
      - "build.gradle"
      - "build.gradle.kts"
      - ".github/workflows/**"
  pull_request:
    branches: [ master ]
    paths:
      - "src/**"
      - "build.gradle"
      - "build.gradle.kts"
      - ".github/workflows/**"


jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: '17'

      - name: Grant execute permission for gradlew
        run: chmod +x ./gradlew

      - name: Run tests
        run: ./gradlew test

  build:
    runs-on: ubuntu-latest
    needs: test   # test가 성공해야만 build job 실행

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: '17'

      - name: Grant execute permission for gradlew
        run: chmod +x ./gradlew

      - name: Build jar
        run: ./gradlew bootJar
        # 이미 test job에서 테스트를 돌렸으므로
        # 여기서는 필요하면 ./gradlew bootJar -x test 로 테스트 생략도 가능함
