name: ci-gradle

on:
  push:
    branches: [ master ]
    paths:
      - "src/**"
      - "build.gradle"
      - "build.gradle.kts"
      - ".github/workflows/**"
  pull_request:
    branches: [ master ]
    paths:
      - "src/**"
      - "build.gradle"
      - "build.gradle.kts"
      - ".github/workflows/**"


jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: '17'

      - name: Grant execute permission for gradlew
        run: chmod +x ./gradlew

      - name: Run tests
        run: ./gradlew test

  build:
    runs-on: ubuntu-latest
    needs: test

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: '17'

      - name: Grant execute permission for gradlew
        run: chmod +x ./gradlew

      # 1) jar 빌드
      - name: Build jar
        run: ./gradlew bootJar -x test
        # 이미 test job에서 테스트를 돌렸으니 여기서는 test 제외(-x test)

      # 2) jar 파일을 artifact로 업로드
      - name: Upload jar artifact
        uses: actions/upload-artifact@v4
        with:
          name: app-jar
          path: build/libs/*.jar
          # retention-days: 7   # (선택) 며칠 보관할지, 기본값은 GitHub 정책 따름
